<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/signup.css">
  <title>Signup</title>
</head>
<body>
  <h1 class="sign">Signup</h1>
  <form action="/signup" method="post">
    <input type="text" name="firstname" placeholder="Enter Your Firstname">
    <input type="text" name="lastname" placeholder="Enter Your Lastname">
    <input type="text" name="username" placeholder="Enter Your Username">
    <input type="email" name="email" placeholder="Enter Your Email">
    <input type="password" name="password" placeholder="Enter Your Password">
    <input type="password" name="repeat_password" placeholder="Repeat Password">
    <button type="submit">Signup</button>
  </form>
</body>
</html>