<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>HomePage</title>
</head>
<body>
  <section class="bg-black text-light p-5 text-center">
    <div class="container text-center">
      <div class="centered-items">
        <div class="small-text">For Companies with recurring payments</div>
        <div class="large-text pt-4">Earn By The Minutes/Hours</div>
        <div class="mt-4 btn-text"><a href="/signup">Get Started</a></div>
        <img class="pt-4" src="https://yt3.ggpht.com/bjQr2WF0Xsz8ELyJm7FbDWJeqXROEy6SP3trWqvc-iRbJGLJPKO54kAPiWUlw-6k_bXOYSDmuyE=s900-c-k-c0x00ffffff-no-r" alt="">
      </div>
    </div>

  </section>
</body>
</html>