<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/layout.css">
  <title> Crtpto </title>
</head>
<body>
  <nav class="navbar bg-black navbar-dark">
    <div class="container">
      <a href="/" class="navbar-brand"> Crypto Marketplace </a>

      <div id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="#" class="nav-link">Products</a>
          </li>
          <li class="nav-item nav-button">
            <a href="#" id="pop-btn" class="nav-link"><button class="p-1">Get Started</button></a>
          </li>
          <li class="nav-item nav-button">
            <a href="/signin" id="login-btn" class="nav-link"><button class="p-1">Login </button></a>
          </li>
        </ul>
        
      </div>
    </div>

  </nav>
  </header>

  <section class="popup">
      <div class="close-btn">&times</div>
      <div class="form-class">
        <h2>SignUp</h2>
        <form class="form-element" action="/signup" method="post">
          <input type="text" name="firstname" placeholder="Enter Your Firstname">
          <input type="text" name="lastname" placeholder="Enter Your Lastname">
          <input type="text" name="username" placeholder="Enter Your Username">
          <input type="text" name="email" placeholder="Enter Your Email">
          <input type="password" name="password" placeholder="Enter Your Password">
          <input type="password" name="repeat_password" placeholder="Repeat Password">
          <button type="submit">Signup</button>
        </form>
    </div>

  </section>


  <%- body %>

  <script src="/js/popup.js"></script>
</body>
</html>