@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;700&display=swap');

/* Index styling */
.centered-items .small-text{
  color: #7f00ff;
  font-size: 19px;
}
.centered-items .large-text{
  font-size: 2.5rem;
  font-weight: 700;
}
.centered-items img{
  width: 400px;
}
.centered-items .btn-text{
  background-color: #7f00ff;
  max-width: 200px;
  margin: auto;
  padding: 7px;
  border-radius: 2px;
}
.centered-items .btn-text a{
  text-decoration: none;
  color: black;
}

