<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/followers.css">
  <title>Document</title>
</head>
<body>
  <h1>following</h1>

  <div class="container user-followers">
    <% for(var i=0; i < user.length; i++) { %>
       <div>
         <h2 class="followers-email"><%= user[i].email %></h2>
         <h2 class="followers-username"><%= user[i].username %></h2>
         <img class="followers-pics" src="<%= user[i].profilepicture %>" alt="pics">
       </div>
    <% } %>
      </div>
</body>
</html>